<a href="https://colab.research.google.com/github/Jagat-Pal/Python/blob/main/List_of_youtube.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Earlier when discussing strings we introduced the concept of a <u>sequence</u> in Python.
* <u>Lists</u> can be thought of the most general version of a *sequence* in Python.


* Unlike strings, they are mutable, meaning the elements inside a list can be changed!


* Lists are constructed with brackets <code>[]</code> and commas separating every element in the list.

In [4]:
# construction of list
my_list = [1, 2, 4, 6, 7, 8]
my_list

[1, 2, 4, 6, 7, 8]

In [5]:
#how to print list
print(my_list)

[1, 2, 4, 6, 7, 8]

In [6]:
#type of data
type(my_list)

list

In [7]:
#length of list
len(my_list)

6

In [8]:
empty_list = []
type(empty_list)

list

* We just created a list of integers, but lists can actually hold different object types. For example:

In [9]:
#list is hetrogenius
a = [3, 3.14, "Apple", True, None]
type(a)

list

## List Indexing
* Indexing work just like in strings.


* A list index refers to the location of an element in a list.


* Remember the indexing begins from 0 in Python.


* The first element is assigned an index 0, the second element is assigned an index of 1 and so on and so forth.

In [11]:
#positive indexing

In [10]:
my_list = [4, 5, 3.14, "Apple", True, None]

In [13]:
print(my_list[0])
print(my_list[1])
print(my_list[2])
print(my_list[3])
print(my_list[4])
print(my_list[5])

4
5
3.14
Apple
True
None

In [14]:
my_list

[4, 5, 3.14, 'Apple', True, None]

In [15]:
#Negative indexing
print(my_list[-1])
print(my_list[-2])
print(my_list[-3])
print(my_list[-4])
print(my_list[-5])
print(my_list[-6])

None
True
Apple
3.14
5
4

## List Slicing

* We can use a <code>:</code> to perform *slicing* which grabs everything up to a designated point.


* The starting index is specified on the left of the <code>:</code> and the ending index is specified on the right of the <code>:</code>.


* Remember the element located at the right index is not included.

In [19]:
my_list = [10, 20 , 50, 70, 80, 90, 100]
print(my_list[0:6:1])
print(my_list[6:0:-1])
print(my_list[-1:-6:-1])

[10, 20, 50, 70, 80, 90]
[100, 90, 80, 70, 50, 20]
[100, 90, 80, 70, 50]

* If you do not specify the ending index, then all elements are extracted which comes after the starting index including the element at that starting index. The operation knows only to stop when it has run through the entire list.

In [20]:
my_list

[10, 20, 50, 70, 80, 90, 100]

In [21]:
my_list[1:]

[20, 50, 70, 80, 90, 100]

* If you do not specify the starting index, then all elements are extracted which comes befores the ending index excluding the element at the specified ending index. The operation knows only to stop when it has extracted all elements before the  element at the ending index.

In [23]:
my_list[:6]

[10, 20, 50, 70, 80, 90]

* If you do not specify the starting and the ending index, it will extract all elements of the list.

In [24]:
my_list[:]

[10, 20, 50, 70, 80, 90, 100]

* It should also be noted that list indexing will return an error if there is no element at that index.

In [25]:
my_list

[10, 20, 50, 70, 80, 90, 100]

In [26]:
my_list[7]

IndexError: ignored

## List Operations
* Remember we said that lists are mutable as opposed to strings. Lets see how can we change the elements of a list

* We can also use <code>+</code> to concatenate lists, just like we did for strings.

* Note: This doesn't actually change the original list!

* You would have to reassign the list to make the change permanent.

In [28]:
#mutable
my_list = [ 10, 50, 89, 67, 56]
my_list[0] = 11
my_list

[11, 50, 89, 67, 56]

In [29]:
first_list = [10, 12, 13, 14]
second_list = [ 11, 12, 14, 15]
my_list = first_list + second_list
my_list

[10, 12, 13, 14, 11, 12, 14, 15]

## List Functions

### <code>len()</code>


* <code>len()</code> function returns the length of the list

In [30]:
my_list

[10, 12, 13, 14, 11, 12, 14, 15]

In [31]:
len(my_list)

8

### <code>min()</code>


* <code>min()</code> function returns the minimum element of the list


* <code>min()</code> function only works with lists of similar data types

In [32]:
a = [1, 4, 2, 6, 3.14]
min(a)

1

In [33]:
b = ["a", "b", "c", "d"]
min(b)

'a'

In [34]:
c = ["a", "b", "c", "A"]
min(c)

'A'

### <code>max()</code>


* <code>max()</code> function returns the maximum element of the list


* <code>max()</code> function only works with lists of similar data types

In [35]:
a = [1, 4, 2, 6, 3.14]
max(a)

6

In [36]:
c = ["a", "b", "c", "A"]
max(c)

'c'

### <code>sum()</code>


* <code>sum()</code> function returns the sum of the elements of the list


* <code>sum()</code> function only works with lists of numeric data types

In [37]:
a

[1, 4, 2, 6, 3.14]

In [38]:
sum(a)

16.14

### <code>sorted()</code>


* <code>sorted()</code> function returns the sorted list


* <code>sorted()</code> function takes reverse boolean as an argument


* <code>sorted()</code> function only works on a list with similar data types

* <code>sorted()</code> function does not change our list

In [39]:
a

[1, 4, 2, 6, 3.14]

In [40]:
sorted(a)

[1, 2, 3.14, 4, 6]

In [41]:
sorted(a, reverse = True)

[6, 4, 3.14, 2, 1]

###List method

### <code>append()</code>

* Use the <code>append()</code> method to permanently add an item to the end of a list.


* <code>append()</code> method takes the element which you want to add to the list as an argument

* Woah! Calling the <code>append()</code> method changed my list? Yes, the <code>append()</code>  method changes your original list!

### <code>extend()</code>

* Use the <code> extend()</code> method to merge a list to an existing list


* <code> extend()</code> method takes a list or any iterable(don't worry about it now) as an argument.


* Quite helpful when you have two or more lists and you want to merge them together

### <code>pop()</code>

* Use <code>pop()</code> to "pop off" an item from the list.


* By default <code>pop()</code> takes off the element at the last index, but you can also specify which index to pop off.


* <code>pop()</code> takes the index as an argument and returns the elenent which was popped off.

* <code>pop()</code> method changes the list by popping off the element at the specified index

### <code>remove()</code>

* Use <code>remove()</code> to remove an item/element from the list.


* By default <code>remove()</code> removes the specified element from the list.


* <code>remove()</code> takes the element as an argument.

### <code>count()</code>


* The <code>count()</code> method returns the total occurrence of a specified element in the list

### <code>index()</code>


* The <code>index()</code> method returns the index of a specified element.

### <code>sort()</code>

* Use <code>sort()</code> to sort the list in either ascending/descending order


* The sorting is done in ascending order by default


* <code>sort()</code> method takes the reverse boolean as an argument


* <code>sort()</code> method only works on a list with elements of same data type

### <code>reverse()</code>

* <code>reverse()</code> method reverses the list

## Nested Lists

* A great feature of of Python data structures is that they support *nesting*. This means we can have data structures within data structures. For example: A list inside a list.