<a href="https://colab.research.google.com/github/Jagat-Pal/Python/blob/main/you_tube_%2CTuples%2C_Sets_%26_Dictionaries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tuples

* In Python tuples are very similar to lists, however, unlike lists they are *immutable* meaning they can not be changed.


* You would use tuples to present things that shouldn't be changed, such as days of the week, or dates on a calendar.





## Constructing Tuples

* The construction of a tuples use <code>()</code> with elements separated by commas.

In [ ]:
a = (1, 2, 3, 4)
type(a)

tuple

In [ ]:
print(a)

(1, 2, 3, 4)

In [ ]:
b = 1, 2, 3
type(b)

tuple

In [ ]:
c = ()
type(c)

tuple

In [ ]:
d = (1)
type(d)

int

In [ ]:
# tuple may be hetrogenius
my_tuple = ("jagat", 1, 3.14, None, True)
type(my_tuple)

tuple

## Tuple Indexing

* Indexing work just like in lists.


* A tuple index refers to the location of an element in a tuple.


* Remember the indexing begins from 0 in Python.


* The first element is assigned an index 0, the second element is assigned an index of 1 and so on and so forth.

Syntex of indexing

obj[location]

In [ ]:
my_tuple

('jagat', 1, 3.14, None, True)

In [ ]:
print(my_tuple[0])
print(my_tuple[1])
print(my_tuple[2])
print(my_tuple[3])
print(my_tuple[4])

jagat
1
3.14
None
True

In [ ]:
# Negative indexing
print(my_tuple[-1])
print(my_tuple[-2])
print(my_tuple[-3])
print(my_tuple[-4])
print(my_tuple[-5])

True
None
3.14
1
jagat

## Tuple Slicing

* We can use a <code>:</code> to perform *slicing* which grabs everything up to a designated point.


* The starting index is specified on the left of the <code>:</code> and the ending index is specified on the right of the <code>:</code>.


* Remember the element located at the right index is not included.

In [ ]:
#my_tuple[SI: EI:SS]... SI is starting index, EI is ending index, SS is step size
my_tuple

('jagat', 1, 3.14, None, True)

In [ ]:
my_tuple[0:4:1]

('jagat', 1, 3.14, None)

In [ ]:
tuple1 = (45, 78, 89, 43, 23, 12, 67, 87)
tuple1[1:7:2]

(78, 43, 12)

* If you do not specify the ending index, then all elements are extracted which comes after the starting index including the element at that starting index. The operation knows only to stop when it has run through the entire tuple.

In [ ]:
tuple1

(45, 78, 89, 43, 23, 12, 67, 87)

In [ ]:
tuple1[0:]

(45, 78, 89, 43, 23, 12, 67, 87)

* If you do not specify the starting index, then all elements are extracted which comes befores the ending index excluding the element at the specified ending index. The operation knows only to stop when it has extracted all elements before the  element at the ending index.

In [ ]:
tuple1[:7]

(45, 78, 89, 43, 23, 12, 67)

* If you do not specify the starting and the ending index, it will extract all elements of the tuple.

In [ ]:
tuple1[:]

(45, 78, 89, 43, 23, 12, 67, 87)

In [ ]:
my_tuple = (34, 67, 89, 98, 65)

## Tuple Methods

* Tuples have built-in methods, but not as many as lists do.

### <code>index()</code>


* The <code>index()</code> method returns the index of a specified element.

In [ ]:
#syntax-- var.index(value, start, end)

In [ ]:
my_tuple = (34, 56, 78, 98, 89,34, 65, 34, 54, 23)
print(my_tuple.index(34))
print(my_tuple.index(34, 6, 10))

0
7

### <code>count()</code>


* The <code>count()</code> method returns the total occurrence of a specified element in a tuple

In [ ]:
my_tuple

(34, 56, 78, 98, 89, 34, 65, 34, 54, 23)

In [ ]:
my_tuple.count(34)

3

## Immutability

* after create of data structure(tuple) we can not update or add or remove the data

* Because of this immutability, tuples can't grow. Once a tuple is made we can not add to it.

* Tuple does not support methods such as <code>append()</code>, <code>extend()</code>, <code>remove()</code>, <code>pop()</code>

### <code>zip()</code>


* <code>zip()</code> function takes multiple lists as arguments and zips them together


* This function returns a list of n-paired tuples where n is the number of lists being zipped

In [ ]:
city_list = ["Mohali", "Shimla", "Lucknow", "Bombay"]
state_list = ["Punjab", "HP", "UP", "MAH"]
list(zip(city_list, state_list))

[('Mohali', 'Punjab'), ('Shimla', 'HP'), ('Lucknow', 'UP'), ('Bombay', 'MAH')]

# Sets

* Sets are an unordered collection of *unique* elements. We can construct them by using the <code>set()</code> function.


* Sets cannot have duplicates.


* Sets are mutable just like lists.


* You can create a non-empty set with curly braces by specifying elements separated by a comma.

In [ ]:
my_set = {2, 3, 5, 6}
my_set

{2, 3, 5, 6}

In [ ]:
empty_set = set()
type(empty_set)

set

In [ ]:
empty_list = []
empty_tuple = ()
empty_set = {}

print(type(empty_list))
print(type(empty_tuple))
print(type(empty_set))

<class 'list'>
<class 'tuple'>
<class 'dict'>

## A Time for Caution

* An empty set cannot be represented as <code>{}</code>, which is reserved for an <u>empty dictionary</u>

*  We can cast a list with multiple repeat elements to a set to get the unique elements.

In [ ]:
my_list = [2, 3, 4, 5, 6, 7, 2, 3, 4, 5, 2]
my_list

[2, 3, 4, 5, 6, 7, 2, 3, 4, 5, 2]

In [ ]:
set(my_list)

{2, 3, 4, 5, 6, 7}

A set cannot have mutable items

In [ ]:
my_set = {2, 3,4 ,5, (34,45)}
my_set

{(34, 45), 2, 3, 4, 5}

### <code>add()</code>


*  <code>add()</code> method adds an element to a set


* This method takes the element to be added as an argument

In [ ]:
a = set()
a.add(23)

In [ ]:
a

{23}

In [ ]:
a.add(45)
a

{23, 45}

In [ ]:
a.add(23)
a

{23, 45}

* Notice how it won't place another 1 there. That's because a set is only concerned with unique elements!

### <code>update()</code>

* <code>update()</code> method helps to add multiple elements to a set

In [ ]:
a

{23, 45}

In [ ]:
a.update([45, 76, 98, 89, 100])
a

{23, 45, 76, 89, 98, 100}

### <code>remove()</code>

* Use <code>remove()</code> to remove an item/element from the set.


* By default <code>remove()</code> removes the specified element from the set.


* <code>remove()</code> takes the element as an argument.

In [ ]:
a.remove(23)
a

{45, 76, 89, 98, 100}

* <code>remove()</code> throws an error when we try to remove an element which is not present in the set

In [ ]:
a.remove(1)
a

KeyError: ignored

### <code>union()</code>


* <code>union()</code> method returns the union of two sets


* Also denoted by the operator <code>|</code>

In [ ]:
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

In [ ]:
A.union(B)

{1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
A|B

{1, 2, 3, 4, 5, 6, 7, 8}

### <code>intersection()</code>


* <code>intersection()</code> method returns the intersection of two sets


* Also denoted by the operator <code>&</code>

In [ ]:
A.intersection(B)

{4, 5}

In [ ]:
A&B

{4, 5}

### <code>difference()</code>


* <code>difference()</code> method returns the difference of two sets


* Difference of the set <code>B</code> from set <code>A</code> i.e, <code>(A - B)</code> is a set of elements that are only in <code>A</code> but not in <code>B</code>


* Also denoted by the operator <code>-</code>

In [ ]:
A.difference(B)

{1, 2, 3}

In [ ]:
A-B

{1, 2, 3}

In [ ]:
B.difference(A)

{6, 7, 8}

In [ ]:
B-A

{6, 7, 8}

### <code>symmetric_difference()</code>


* <code>symmetric_difference()</code> method returns the set of elements in A and B but not in both (excluding the intersection)


* Also denoted by the operator <code>^</code>

In [ ]:
A.symmetric_difference(B)

{1, 2, 3, 6, 7, 8}

In [ ]:
A^B

{1, 2, 3, 6, 7, 8}

# Dictionaries

* We've been learning about *sequences* in Python but now we're going to switch gears and learn about *mappings* in Python.



* So what are mappings? Mappings are a collection of objects that are stored by a *key*, unlike a sequence that stored objects by their relative position. This is an important distinction, since mappings won't retain order since they have objects defined by a key.


* A Python dictionary consists of a key and then an associated value. That value can be almost any Python object. So a dictionary object always has elements as key-value pairs


## Constructing a Dictionary


* A dictionary object is constructed using curly braces <code>{key1:value1,key2:value2,key3:value3}</code>

In [ ]:
my_dict = {"Name": "Jagat", "marks":[98, 76, 89, 54, 99], "College": "IIT Mandi"}
my_dict

{'Name': 'Jagat', 'marks': [98, 76, 89, 54, 99], 'College': 'IIT Mandi'}

In [ ]:
type(my_dict)

dict

In [ ]:
empty_dict = {}
type(empty_dict)

dict

### dictionary key should be always immutable

In [ ]:
my_dict

{'Name': 'Jagat', 'marks': [98, 76, 89, 54, 99], 'College': 'IIT Mandi'}

###Dictionary value is immutable or mutable

In [ ]:
my_dict

{'Name': 'Jagat', 'marks': [98, 76, 89, 54, 99], 'College': 'IIT Mandi'}

## Dictionary Methods

### <code>keys()</code>


* <code>keys()</code> method returns the list of keys in the dictionary object

In [ ]:
list(my_dict.keys())

['Name', 'marks', 'College']

### <code>values()</code>

* <code>values()</code> method returns the list of values in the dictionary object

In [ ]:
list(my_dict.values())

['Jagat', [98, 76, 89, 54, 99], 'IIT Mandi']

### <code>items()</code>


* <code>items()</code> method returns the list of the keys and values

In [ ]:
list(my_dict.items())

[('Name', 'Jagat'), ('marks', [98, 76, 89, 54, 99]), ('College', 'IIT Mandi')]

* We can also use the <code>get()</code> method to extract a particular value of key-value pair.

### <code>get()</code>

* <code>get()</code> method takes the key as an argument and returns None if the key is not found in the dictionary.


* We can also set the value to return if a key is not found. This will be passed as the second argument in <code>get()</code>

In [ ]:
my_dict.get("Name")

'Jagat'

In [ ]:
my_dict.get("city", "Not found")

'Not found'

### <code>update()</code>

* You can add an element which is a key-value pair using the <code>update()</code> method

* This method takes a dictionary as an argument

In [ ]:
my_dict

{'Name': 'Jagat', 'marks': [98, 76, 89, 54, 99], 'College': 'IIT Mandi'}

In [ ]:
my_dict.update({"City": "Bareilly"})
my_dict

{'Name': 'Jagat',
 'marks': [98, 76, 89, 54, 99],
 'College': 'IIT Mandi',
 'City': 'Bareilly'}

* We can also use the <code>update()</code> method to update the existing values for a key

In [ ]:
my_dict.update({"Name":"Novadita"})
my_dict

{'Name': 'Novadita',
 'marks': [98, 76, 89, 54, 99],
 'College': 'IIT Mandi',
 'City': 'Bareilly'}

### <code>dict()</code>


* We can also create dictionary objects from sequence of items which are pairs. This is done using the <code>dict()</code>method


*  <code>dict()</code> function takes the list of paired elements as argument

### <code>pop()</code>


* <code>pop()</code> method removes and returns an element from a dictionary having the given key.

* This method takes two arguments/parameters (i) key - key which is to be searched for removal, (ii) default - value which is to be returned when the key is not in the dictionary

In [ ]:
my_dict

{'Name': 'Novadita',
 'marks': [98, 76, 89, 54, 99],
 'College': 'IIT Mandi',
 'City': 'Bareilly'}

In [ ]:
my_dict.pop("City")

'Bareilly'

In [ ]:
my_dict.pop("Home", "New delhi")

'New delhi'

### We can use the <code>zip()</code> and <code>dict()</code> methods to create a dictionary object from two lists

In [ ]:
state_list = ["UP", "MP", "HP", "Punjab"]
city_list = ["lucknow", "Bhopal", "Shimla", "Mohali"]

In [ ]:
dict(zip(state_list, city_list))

{'UP': 'lucknow', 'MP': 'Bhopal', 'HP': 'Shimla', 'Punjab': 'Mohali'}